.noPost {
  margin: 0 auto;
  width: 70%;
}

.addTweet-btn {
  color: black;
  background-color: #1da1f2;
  width: 45px;
  height: 45px;
  border: 1px solid #1da1f2;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 16px;
}
.posRela {
  position: relative;
}
.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
  padding-bottom: 10px;
  cursor: pointer;
}
.postBody {
}
/* .PostDiv img {
  width: 50%;
} */
.postBody img {
  border-radius: 20px;

  margin-top: 5px;
}
.postHeader {
  display: flex;
  gap: 10px;
  align-items: center;
}
.postHeader h3 {
  font-weight: bold;
  font-size: 0.8em;
  color: black;
}
.postHeader p {
  font-weight: small;
  font-size: 0.6em;
  color: black;
}

.PostDiv p {
  font-weight: small;
  font-size: 0.7em;
}
.PostDiv img {
  width: 355px;
  height: 355px;
}
.iconInteractionBarDiv {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
