.birdieMain {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  border-bottom: 2px #1da1f2 solid;
  border-bottom-left-radius:35px;
  border-bottom-right-radius:35px;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index:1;
  align-items: center
}
.birdieMain .birdMain {
  grid-column: 2/3;
  justify-self: center;
  /* padding-left: 5%;  weicht damit vom Login ab. Warten auf Profile avatar */
}
.birdMain img {
  width: 41px;
  text-align: center;
  padding-top: 5%;
}
.birdMain img:hover {
transform: rotate(60deg);
}
.strokeIcon {
  justify-self: center;
  width: 30px;
}
/* .profilePicNav{
  width: 15vw;
  height: 8vw;
} */
.profilePicNav img{
  width:40px;
  height:40px;
  object-fit: fill;
  border-radius: 50%;
}
.profileInfoFlex{
  font-size: 0.6em;
}
.firstFlex{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0;
  margin-left: 30px;
}
.secoundFlex{
display: flex;
margin-left: 30px;
gap: 15px;
}
.followingCount{
  font-size: 1.1em;
}
.profileInfo{
  height:200px;
}
.profilePicSide{
  width: 15vw;
  height: 15vw;
  margin-bottom: -15px;
  object-fit: contain;
}
.profilePicSide img{
  width:40px;
  height:40px;
  object-fit: fill;
  border-radius: 100%;
}