.heart-liked img {
  background: url(../assets/icons/tweeties/Heart\ solid\ icon.png) no-repeat
    center/cover;
}
.liked {
  color: red;
}
.retweet-activated{
  background: url(../assets/icons/tweeties/RetweetIconGreen.png) no-repeat
  center/contain;
}
.activated{
  color: lime;
}