.profilePic{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profilePic img{
  width:90px;
  height:90px;
  object-fit: fill;
  border-radius: 50%;
}
.userInfo{
  margin-left: 20px;
}
.userInfo h1{
  font-size: 1.4em;
  line-height: 5px;
}
.userInfo h2{
  font-size: 0.8em;
  line-height: 0;
}
/* .buttonProfileEdit{
  position: relative;
  top: 10%;
} */
.buttonProfileEdit p, .buttonUnfollow p, .buttonFollow p{
  border: 1px solid #1da1f2;
  border-radius: 5px;
  padding: 5px;
  color: #1da1f2;
  cursor: pointer;
  font-size: 0.8em;
}

.buttonProfileEdit p:hover, .buttonUnfollow p:hover, .buttonFollow p:hover{
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
  color: #fff;
}
.follower{
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-left: 20px;

}
.littleFlex{
  display: flex;
  gap: 10px;
}
.blueBorder{
  border-bottom: 2px solid #1da1f2
}
