/*----Twitter Logo Loading --*/

.twitterLoading {
  background-color: #1da1f2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.twitterLoadingPic {
  display: flex;
  position: absolute;
  align-items: start;
  justify-content: start;
  width: 90px;
  height: 90px;
  margin-top: 35px;
  padding-right: 20px;
  animation: pulse 0.8s infinite;
  -webkit-animation-duration: 1s;
}

.fade-out {
  animation: fadeOut ease 5s;
  -webkit-animation: fadeOut ease 5s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}

@keyframes fadeOut {
  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}